/.bundle/
/.yardoc
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/

.DS_Store

# rspec failure tracking
.rspec_status

# personal files
.pg_database.rb
.pg_database_spec.rb

# pem files
/tictactoe-ubuntu-keypair.pem
